:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e77e22;
  --backgroundsec-color :#2c3e50;
  --text-color: #34495e;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{   
   background: #f7f7f7;

}